<ng-container>
  <!--<app-user-list></app-user-list>-->
  <div class="page">
    <section class="chat">
      <div class="chat-timeline">
          <div class="list-group-item list-group-item-action flex-column align-items-start border-0">
            <div class="media">
              <div class="media-left">
                <a href="#" class="icon">山</a>
              </div>
              <div class="media-body">
                <div class="d-flex w-100 justify-content-between">
                  <h4 class="media-heading">
                      <i class="fa fa-edit ml-2" title="編集" ></i>
                      <i class="fa fa-trash ml-1" title="削除" ></i>
                  </h4>
                </div>
                  <pre> comment.message </pre>
                <!--<ng-container>-->
                  <!--<div class="input-group">-->
                  <!--<textarea class="form-control"-->
                            <!--[(ngModel)]="comment.message"-->
                            <!--name="edit_comment"></textarea>-->
                  <!--</div>-->
                  <!--<div class="edit-buttons">-->
                    <!--<button class="btn btn-success btn-sm" (click)="saveEditComment(i, comment.key)">保存</button>-->
                    <!--<button class="btn btn-warning btn-sm" (click)="toggleEditComment(i)">キャンセル</button>-->
                  <!--</div>-->
                <!--</ng-container>-->
              </div>

            </div>
          </div>
      </div>
    </section>

    <section class="chat-editor">
      <form class="chat-form">
        <div class="form-header d-flex flex-row-reverse mb-2">
        <span class="input-group-btn">
          <button class="btn btn-info btn-sm" type="submit" tabindex="2"
                  (click)="addComment(content)">送信</button>
        </span>
        </div>
        <div class="input-group">
          <textarea [(ngModel)]="content" name="content" class="form-control" placeholder="メッセージを入力" tabindex="1"></textarea>
        </div>
      </form>
    </section>
  </div>
</ng-container>
